<ion-header>
  <ion-toolbar>
    <ion-title>PokéZone</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pokemon of pokemons">
      <ion-thumbnail slot="start">
        <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + getPokemonId(pokemon.url) + '.png'" />
      </ion-thumbnail>
      <ion-label>
        {{ pokemon.name | titlecase }}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="loadPokemons()" [disabled]="loading">
    {{ loading ? 'Carregando...' : 'Carregar mais' }}
  </ion-button>
</ion-content>
